<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Register Employee</h1>
        <form id="registerForm" action="/api/register" method="POST">
            <!-- Employee Name -->
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <!-- Employee Number -->
            <div class="form-group">
                <label for="emp_number">Employee Number:</label>
                <input type="text" id="emp_number" name="emp_number" >
            </div>
            <!-- Email -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" >
            </div>
            <!-- Role -->
            <div class="form-group">
                <label for="role">Role:</label>
                <select id="role" name="role" required>
                    <option value="" disabled selected>Select Role</option>
                    <option value="sales">Sales</option>
                    <option value="acquisition">Acquisition</option>
                    <option value="admin">Admin</option>
                    <option value="Screen_creator">Screen_creator</option>
                    <option value="maintenance">maintenance</option>
                     <option value="IT_Team">IT_Team</option>
                     <option value="Office_staff">Office_staff</option>
                     <option value="telly_sales">telly_sales</option>
                     <option value="graphic_team">graphic_team</option>
                     <option value="POP_team">POP_team</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Assign_city">Assign_city:</label>
                <input type="text" id="Assign_city" name="Assign_city" required>

            </div>
            <!-- Submit Button -->
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
